extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-5 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare vulputate libero et posuere. Vestibulum pulvinar condimentum ante, at rutrum ipsum tristique nec. 

                p Praesent sodales nulla dolor, sit amet maximus nisi blandit in. Quisque convallis, orci a pretium semper, enim ligula egestas justo, non accumsan lectus quam nec enim. Fusce non ultrices nisi, et ornare velit. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        
        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a canada 
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales 
        
        include ./layout/bloque_testimoniales