extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis malesuada nisi, imperdiet semper justo semper non. Fusce nunc neque, ultrices a pellentesque nec, vulputate a sapien. Vivamus maximus feugiat dolor, at posuere magna condimentum a. Nulla nec risus gravida, rhoncus nibh vitae, condimentum orci. Integer nec dignissim velit. Aliquam at porta libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu lectus nulla. Vivamus nec scelerisque elit.

                p Nulla cursus non orci non consequat. Nam ultrices luctus ipsum, quis feugiat sem molestie non. Sed ultricies dui vel nisi semper, quis euismod libero vehicula. Sed ut congue velit. Phasellus felis arcu, laoreet non mauris eget, cursus elementum dolor. Donec fermentum odio eu condimentum venenatis. Proin sed massa ut lorem blandit placerat vitae.

                p Curabitur malesuada, justo non tincidunt tempus, urna nulla suscipit nibh, convallis malesuada est justo lobortis nunc. Aliquam convallis accumsan enim, dignissim sagittis nisi rhoncus a. Nam a nulla lacus. Morbi massa justo, auctor sit amet consectetur sed, posuere et elit. Maecenas vel turpis ut nibh posuere pretium.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Aliquam convallis accumsan enim, dignissim sagittis nisi rhoncus a. Nam a nulla lacus Morbi.  Curabitur malesuada, justo non tincidunt tempus, urna nulla suscipit nibh.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Aliquam convallis accumsan enim, dignissim sagittis nisi rhoncus a. Nam a nulla lacus Morbi.  Curabitur malesuada, justo non tincidunt tempus, urna nulla suscipit nibh.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Aliquam convallis accumsan enim, dignissim sagittis nisi rhoncus a. Nam a nulla lacus Morbi.  Curabitur malesuada, justo non tincidunt tempus, urna nulla suscipit nibh.
