extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote AVENTURA, Agencia viajes especializada en Vacaciones a Rio de Janeiro,  Grecia, Alemania, España, Italia y Francia, ,... ¡El que viaja con AVENTURA disfruta mejor!

                p En Aventura, creemos que la experiencia de nuestros clientes empieza con nuestros colaboradores, por lo que un trato de calidad trae consigo una atención de calidad. Somos más de 60 colabores que día a día nos perfeccionamos para brindarte la mejor experiencia en viajes.

                p Queremos que encuentres el hotel de tus sueños, el vuelo a la mejor tarifa o el paquete ideal, con la tranquilidad de que todas tus compras son bajo tu consentimiento y autorización.

                p Viaja, ¡ahora es cuando!

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Descubre qué aerolíneas ofrecen la mejor experiencia de vuelo gracias a las opiniones de nuestros usuarios. Añade tu opinión y descubre la aerolínea que tiene la mejor puntuación.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p 'Aventura' te ofrece la posibilidad de escoger comodamente entre muchisimas opciones de vuelo. Según tus preferencias te ayudamos a encontrar los boletos de avión mas baratos.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Ahorra sobre el precio de los boletos de avión reservando con Nuestra Agencia de Viajes 'Aventura'. Escoge las mejores ofertas entre diferentes rutas, horarios y aerolíneas disponibles.
